
.header{
    height:60px;

    .header_shell{
        position: fixed;
        top:0px;
        width:100%;
        background-color: white;
        .header_container{
            height:60px;
            display: flex;
            justify-content: center;
            font-size: 14px;
        
            .header_outer{
                height:60px;
                // width: 80%;
                display: flex;
                align-items: center;
                font-size: 16px;
                #logo{
                    height:24px;
                    width:116.81px;
                }
                .header_nav{
                    width:360px;
                    display: inline;
                    margin-left: 23px;
                    .header_nav_item{
                        display: inline-block;
                        width:72px;
                        height:60px;
                        text-align: center;
                        line-height: 60px;
                        .header_a{
                            color:#86909c;
                        }
                        a:hover {
                            color: #1890FF;
                        }
                    }
                }
                #header_list{
                    width:146px;
                    height:60px;
                    margin-left: 20px;
                    margin-right: 30px;
                }
                .header_creator_outer{
                    width:150px;
                    height:60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #1890FF;
                    .header_creator{
                        width:102px;
                        height:32px;
                        font-size: 15px;
                        text-align: center;
                        line-height: 30px;
                    }
                }
                .write_article_outer{
                    width:97px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    .write_article{
                        width:97px;
                        height:32px;
                        border-radius: 4px;
                        line-height: 32px;
                        text-align: center;
                        background-color: #1E80FF;
                        color:white;
                    }
                }
                #header_notice_outer{
                    width:80px;
                    height:60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #header_notice{
                        width:24px;
                        height:28px;
                    }
                }
                #header_avatar_outer{
        
                    #header_avatar{
                        width: 30px;
                        height: 30px;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}