.mask_outer{
    position: absolute;
    margin: auto;
    left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
    .mask{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #515767;
        #loading_img{
            width:100px;
            height:100px;
        }
        #dot {
            display: inline-block; 
            height: 1em;
            line-height: 1;
            text-align: left;
            vertical-align: -.25em;
            overflow: hidden;   
        }
        #dot::before {
            display: block;
            content: '...\A..\A.';
            white-space: pre-wrap;
            animation: dot 2s infinite step-start both;
        }
        @keyframes dot {
            33% { transform: translateY(-2em); }
            66% { transform: translateY(-1em); }
        }
    }
}